<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Processes list</title>
    </head>
    <body>
        {{range $osname, $proclist :=.Stat}}
        <h1>{{$osname}}</h1>
        <table border="1">
            <td width="400"><b>Proces</b></td>
            <td><b>Count / Server count</b></td>
            {{range $k, $v := $proclist.Processes}}
                <tr>
                    <td> {{$k}}</td>
                    <td>{{$v}} / {{$proclist.Count}}</td>
                </tr>
            {{end}}
        </table>
        {{end}}
    </body>
</html>