<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{ .Title}}</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-6 col-lg-9">
                <a href="index"> <button type="button" class="btn btn-outline-primary">Index</button></a>
                <h1> Server: {{ .Title}} - detailed report </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-6 col-lg-9">
                <table class="table table-bordered">
                    <tr>
                        <td>Instance name</td>
                        <td>{{ .InstanceName }}</td>
                        <td>Instance type</td>
                        <td>{{ .InstanceType }}</td>
                    </tr>
                    <tr>
                        <td>Operating system</td>
                        <td>{{ .OsName }}</td>
                        <td>Purpose</td>
                        <td>{{ .Purpose }}</td>
                    </tr>
                    <tr>
                        <td>IP Address(es)</td>
                        <td>{{ .IpAdr }}</td>
                        <td>Credentials</td>
                        <td>{{ .Passwd }}</td>
                    </tr>
                    <tr>
                        <td>CPU utilization (%)</td>
                        <td>{{ .CpuUtil }}</td>
                        <td>RAM utilization (Mb)</td>
                        <td>{{ .RamUtil }}</td>
                    </tr>
                    <tr>
                        <td>Red cloak installed?</td>
                        <td>{{ .RedCloakInstalled }}</td>
                        <td>Infected?</td>
                        <td>{{ .Infected }}</td>
                    </tr>
                    <tr>
                        <td>Comments</td>
                        <td>{{ .Comments }}</td>
                        <td>Analyzed by</td>
                        <td>{{ .Analize }}</td>
                    </tr>
                </table>
                <a href="about_server?server={{ .ServerId }}"> <button type="button" class="btn btn-outline-success">Edit</button> </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9 col-md-6 col-lg-9">

                <ul class="nav nav-tabs" id="indexTab" role="tablist">
                    {{range .Items}}
                    <li class="nav-item">
                        <a class="nav-link " id="{{ .Link }}-tab" data-toggle="tab" href="#{{ .Link }}" role="tab"
                            aria-controls="{{ .Link }}" aria-selected="true">{{ .Title}}</a>
                    </li>
                    {{end}}
                </ul>

                <div class="tab-content" id="myTabContent">
                    {{range .Items}}
                    <div class="tab-pane fade " id="{{ .Link }}" role="tabpanel" aria-labelledby="{{ .Link }}-tab">
                        <table class="table table-bordered">
                            <tbody>
                                {{range $row:= .Report}}
                                <tr>
                                    {{range $col:=$row}}
                                    <td>{{$col}}</td>
                                    {{end}}
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                    {{end}}
                </div>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>